@import "./Directory/utils/variables";
@import "./Directory/Utils/mixin";
@import "./Directory/Base/typography";
@import "./Directory/Layout/header";
@import "./Directory/Layout/footer";
@import "./Directory/Components/button";
@import "./Directory/Pages/menu";
@import "./Directory/Pages/main-index";
@import "./Directory/Pages/main-menu";

body {
  font-family: "Roboto-Regular", sans-serif;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
