@import "./Directory/utils/variables";
@import "./Directory/Utils/mixin";
@import "./Directory/Base/typography";
@import "./Directory/Layout/header";
@import "./Directory/Layout/footer";
@import "./Directory/Components/button";
@import "./Directory/Pages/menu";
@import "./Directory/Pages/main-index";
@import "./Directory/Pages/main-menu";

body {
  font-family: helvetica, sans-serif;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
.heartIndex1 {
  @include heartIndex;
  .emptyHeartI {
    left: 160px;
  }
  .fullHeartI {
    left: 144px;
  }
}
.heartIndex2 {
  @include heartIndex;
  .emptyHeartI {
    left: 184px;
  }
  .fullHeartI {
    left: 168px;
  }
}
.heartIndex3 {
  @include heartIndex;
  .emptyHeartI {
    left: 173px;
  }
  .fullHeartI {
    left: 157px;
  }
}

.heartIndex4 {
  @include heartIndex;
  .emptyHeartI {
    left: 146px;
  }
  .fullHeartI {
    left: 130px;
  }
}
