.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.price {
  margin-left: 20px;
  overflow: hidden;
  font-weight: bold;
}

@font-face {
  font-family: "Shrikhand-Regular";
  src: url("polices/Shrikhand-Regular.otf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("polices/Roboto-Regular.ttf");
}
.HeaderMenu .TopHeaderMenu {
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
}
.HeaderMenu .TopHeaderMenu .marginHeaderText {
  padding-left: 2%;
}
.HeaderMenu .logo {
  width: 40%;
}
.HeaderMenu .fa-arrow-left {
  margin-left: 15px;
  margin-right: 80px;
}
.HeaderMenu .MenuImg1 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.HeaderMenu .MenuImg2 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.HeaderMenu .MenuImg3 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.HeaderMenu .MenuImg4 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.headerIndex {
  width: 100%;
}
.headerIndex .logoIndex {
  width: 60%;
  margin-left: 18%;
}
.headerIndex .HeaderText {
  text-align: center;
  background-color: #f2f2f2;
  margin-left: 0%;
  margin-right: 0%;
  height: 300px;
}
.headerIndex .HeaderText h1 {
  font-size: 24px;
  margin: 5%;
}
.headerIndex .HeaderText p {
  margin-bottom: 10%;
  padding-top: 4%;
}
.headerIndex .HeaderText .topHeaderText {
  background: #dcdadd;
  background: linear-gradient(0deg, #dcdadd 93%, rgba(131, 130, 131, 0.64) 100%);
  padding-bottom: 7px;
}
.headerIndex .HeaderText .topHeaderText .marginHeaderText {
  font-weight: bold;
}
.headerIndex .HeaderText .BtnIndex {
  text-decoration: none;
  color: white;
  border-radius: 40px;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 30%, #9356dc 100%);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  padding: 20px 15px 20px 15px;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 13px;
}
.headerIndex .HeaderText .BtnIndex:hover {
  background: #ff79da;
  background: linear-gradient(127deg, rgba(255, 121, 218, 0.7) 30%, rgba(147, 86, 220, 0.7) 100%);
}

footer {
  background-color: #2c2b2b;
}
footer ul {
  list-style-type: none;
  padding-left: 5%;
}
footer a {
  color: #eee5e5;
  padding-bottom: 10px;
  font-size: 15px;
}
footer li {
  padding-bottom: 3%;
}
footer .logoText {
  font-family: "Shrikhand-Regular", "sans-serif";
  font-size: 22px;
  color: white;
  padding-left: 5%;
  padding-top: 4%;
}

.btn-order a {
  text-decoration: none;
  color: white;
  border-radius: 40px;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 30%, #9356dc 100%);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 20px 50px 20px 50px;
}
.btn-order a:hover {
  background: #ff79da;
  background: linear-gradient(127deg, rgba(255, 121, 218, 0.7) 30%, rgba(147, 86, 220, 0.7) 100%);
}
.btn-order p {
  text-align: center;
}

.check {
  background-color: #99e2d0;
  padding: 0 25px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  transform: translateX(100%);
  transition: all 0.5s ease;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.menuLine {
  margin: 4%;
  padding: 10px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);
}
.menuLine:hover .description {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: 180px;
}
.menuLine:hover .check {
  transform: translateX(0%);
}
.menuLine:hover .fa-check-circle {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
}
.menuLine .fa-check-circle {
  transition: all 0.5s ease;
}
.menuLine p {
  display: inline-block;
  margin-bottom: 0%;
  font-size: 15px;
}
.menuLine h3 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 15px;
}

.mainContainer {
  padding-bottom: 2%;
  margin-bottom: -6%;
  background-color: #f2f2f2;
}
.mainContainer img {
  width: 100%;
  object-fit: cover;
}
.mainContainer h2 {
  padding-top: 13%;
  padding-left: 6%;
  padding-bottom: 3%;
}
.mainContainer .Content {
  margin: 6%;
}
.mainContainer .Content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.mainContainer .Content .textContent {
  background-color: white;
  color: black;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -ms-border-radius: 0px 0px 15px 15px;
  -o-border-radius: 0px 0px 15px 15px;
  padding-left: 5%;
}
.mainContainer .Content .textContent h3 {
  margin-top: -2%;
  padding-top: 4%;
  margin-bottom: 0%;
  font-size: 16px;
}
.mainContainer .Content .textContent p {
  margin-top: 0%;
}

.navIndex ul {
  padding-left: 0%;
  padding-bottom: 10%;
}
.navIndex ul li {
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.navIndex ul li:hover {
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 2px 9px 1px rgba(0, 0, 0, 0.25);
}
.navIndex ul li h2 {
  margin-left: 3%;
}
.navIndex ul li .NumberNav {
  font-weight: bold;
  background-color: #9356dc;
  color: white;
  padding: 3px 6px 2px 6px;
  margin-left: -8%;
  margin-right: 5%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.navIndex ul li a {
  color: black;
  font-weight: bold;
  padding-left: 10%;
}

.heartIndex1 {
  display: flex;
}
.heartIndex1 .emptyHeartI {
  transform: scale(1.3);
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.heartIndex1 .fullHeartI {
  transform: scale(1.4);
  opacity: 0;
  color: #9356dc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.heartIndex1 .fullHeartI:hover {
  opacity: 1;
}
.heartIndex1 .emptyHeartI {
  left: 160px;
}
.heartIndex1 .fullHeartI {
  left: 144px;
}

.heartIndex2 {
  display: flex;
}
.heartIndex2 .emptyHeartI {
  transform: scale(1.3);
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.heartIndex2 .fullHeartI {
  transform: scale(1.4);
  opacity: 0;
  color: #9356dc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.heartIndex2 .fullHeartI:hover {
  opacity: 1;
}
.heartIndex2 .emptyHeartI {
  left: 189px;
}
.heartIndex2 .fullHeartI {
  left: 173px;
}

.heartIndex3 {
  display: flex;
}
.heartIndex3 .emptyHeartI {
  transform: scale(1.3);
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.heartIndex3 .fullHeartI {
  transform: scale(1.4);
  opacity: 0;
  color: #9356dc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.heartIndex3 .fullHeartI:hover {
  opacity: 1;
}
.heartIndex3 .emptyHeartI {
  left: 178px;
}
.heartIndex3 .fullHeartI {
  left: 162px;
}

.heartIndex4 {
  display: flex;
}
.heartIndex4 .emptyHeartI {
  transform: scale(1.3);
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.heartIndex4 .fullHeartI {
  transform: scale(1.4);
  opacity: 0;
  color: #9356dc;
  display: block;
  background: -webkit-linear-gradient(#9c47fc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 8px;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.heartIndex4 .fullHeartI:hover {
  opacity: 1;
}
.heartIndex4 .emptyHeartI {
  left: 149px;
}
.heartIndex4 .fullHeartI {
  left: 133px;
}

.menu1 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu2 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.MainMenu {
  padding-bottom: 25px;
}
.MainMenu .MenuSection {
  padding-bottom: 50px;
  border-radius: 35px;
  margin-top: -18%;
  background-color: white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}
.MainMenu .MenuSection h2 {
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 10px;
  margin-right: 80%;
  margin-left: 6%;
}
.MainMenu .MenuSection .TitleSection {
  padding-left: 6%;
  padding-top: 8%;
  display: flex;
  font-family: "Shrikhand-Regular";
}
.MainMenu .emptyHeart {
  position: absolute;
  right: 13%;
  top: 45%;
  transform: scale(1.35);
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
}
.MainMenu .fullHeart {
  position: absolute;
  opacity: 0;
  right: 13%;
  top: 45%;
  color: #9356dc;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.35);
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
}
.MainMenu .fullHeart:hover {
  opacity: 1;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
