.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.price {
  margin-left: 50px;
  overflow: hidden;
  font-weight: bold;
}

@font-face {
  font-family: "Shrikhand-Regular";
  src: url("polices/Shrikhand-Regular.otf");
}
.HeaderMenu .logo {
  padding-left: 20%;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 50%;
}
.HeaderMenu .MenuImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

footer {
  margin-top: 60px;
  background-color: #2e2c2c;
}
footer ul {
  list-style-type: none;
  padding-left: 5%;
}
footer a {
  text-decoration: none;
  color: #eee5e5;
  padding-bottom: 10px;
}
footer li {
  padding-bottom: 3%;
}
footer .logoText {
  font-family: "Shrikhand-Regular", "sans-serif";
  font-size: 22px;
  color: white;
  padding-left: 5%;
  padding-top: 4%;
}

.btn-order a {
  margin: 23%;
  text-decoration: none;
  color: white;
  padding: 20px 50px 20px 50px;
  border-radius: 40px;
  background-color: #9b669c;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.check {
  background-color: #a9e0d1;
  padding: 0 25px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  transform: translateX(100%);
  transition: all 0.5s ease;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.menuLine {
  margin: 4%;
  padding: 10px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);
}
.menuLine:hover .description {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: 180px;
}
.menuLine:hover .check {
  transform: translateX(0%);
}
.menuLine:hover .fa-check-circle {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
}
.menuLine .fa-check-circle {
  transition: all 0.5s ease;
}
.menuLine p {
  display: inline-block;
}
.menuLine h3 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 17px;
}

body {
  font-family: helvetica, sans-serif;
}

.mainContainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.MenuSection {
  padding-bottom: 50px;
}
.MenuSection h1 {
  padding-left: 20px;
  font-style: italic;
}
.MenuSection h2 {
  font-size: 16px;
  border-bottom: 3px solid #a9e0d1;
  padding-bottom: 10px;
  margin-right: 80%;
  margin-left: 6%;
}
.MenuSection .TitleSection {
  padding-right: 40%;
}
.MenuSection .emptyHeart {
  position: absolute;
  top: 335px;
  right: 48px;
}
.MenuSection .emptyHeart:hover {
  display: none;
}
.MenuSection .fullHeart {
  position: absolute;
  top: 335px;
  right: 48px;
  color: rgba(138, 43, 226, 0);
}
.MenuSection .fullHeart:hover {
  color: blueviolet;
  display: initial;
  color: blueviolet;
}
.MenuSection .MenuImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
