.menu1 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu2 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MainMenu {
  padding-bottom: 25px;

  .MenuSection {
    padding-bottom: 50px;
    border-radius: 35px;
    margin-top: -18%;
    background-color: white;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;

    h2 {
      font-size: 16px;
      border-bottom: 3px solid $Green;
      padding-bottom: 10px;
      margin-right: 80%;
      margin-left: 6%;
    }
    .TitleSection {
      padding-left: 6%;
      padding-top: 8%;
      display: flex;
      font-family: "Shrikhand-Regular";
    }
  }
  .emptyHeart {
    position: absolute;
    right: 13%;
    top: 45%;
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
  }
  .fullHeart {
    position: absolute;
    opacity: 0;
    right: 13%;
    top: 45%;
    color: $Primary;
    background: -webkit-linear-gradient($Primary, $Secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
    &:hover {
      opacity: 1;
    }
  }
}
