.mainContainer {
  padding-bottom: 2%;
  margin-bottom: -6%;
  background-color: #f2f2f2;
  img {
    width: 100%;
    object-fit: cover;
  }
  h2 {
    padding-top: 13%;
    padding-left: 6%;
    padding-bottom: 3%;
  }
  .Content {
    margin: 6%;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      -webkit-border-radius: 15px 15px 0 0;
      -moz-border-radius: 15px 15px 0 0;
      -ms-border-radius: 15px 15px 0 0;
      -o-border-radius: 15px 15px 0 0;
    }
    .textContent {
      background-color: white;
      color: black;
      border-radius: 0px 0px 15px 15px;
      -webkit-border-radius: 0px 0px 15px 15px;
      -moz-border-radius: 0px 0px 15px 15px;
      -ms-border-radius: 0px 0px 15px 15px;
      -o-border-radius: 0px 0px 15px 15px;
      padding-left: 5%;
      h3 {
        margin-top: -2%;
        padding-top: 4%;
        margin-bottom: 0%;
        font-size: 16px;
      }
      p {
        margin-top: 0%;
      }
    }
  }
}
.navIndex {
  ul {
    padding-left: 0%;

    li {
      background-color: #f2f2f2;
      padding: 20px;

      border-radius: 25px;
      margin-top: 5%;
      margin-left: 2%;
      margin-right: 2%;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      &:hover {
        background-color: blueviolet;
        opacity: 0.1;
      }
      h2 {
        margin-left: 3%;
      }

      .NumberNav {
        font-weight: bold;
        background-color: blueviolet;
        color: white;
        padding: 3px 6px 2px 6px;
        margin-left: -8%;
        margin-right: 5%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
      }
      a {
        color: black;
        font-weight: bold;
        padding-left: 10%;
      }
    }
  }
}
.heartIndex1 {
  @include heartIndex;
  .emptyHeartI {
    left: 160px;
  }
  .fullHeartI {
    left: 144px;
  }
}
.heartIndex2 {
  @include heartIndex;
  .emptyHeartI {
    left: 184px;
  }
  .fullHeartI {
    left: 168px;
  }
}
.heartIndex3 {
  @include heartIndex;
  .emptyHeartI {
    left: 173px;
  }
  .fullHeartI {
    left: 157px;
  }
}

.heartIndex4 {
  @include heartIndex;
  .emptyHeartI {
    left: 146px;
  }
  .fullHeartI {
    left: 130px;
  }
}
