.check {
  background-color: $Green;
  padding: 0 25px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  transform: translateX(100%);
  transition: all 0.5s ease;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.menuLine {
  @include menu;
}
