footer {
  background-color: $footer-color;

  ul {
    list-style-type: none;
    padding-left: 5%;
  }
  a {
    color: rgb(238, 229, 229);
    padding-bottom: 10px;
    font-size: 15px;
  }
  li {
    padding-bottom: 3%;
  }

  .logoText {
    font-family: "Shrikhand-Regular", "sans-serif";
    font-size: 22px;
    color: white;
    padding-left: 5%;
    padding-top: 4%;
  }
}
