footer {
  margin-top: 60px;
  background-color: #292626;
  padding-left: 5%;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
  }
  li {
    padding-bottom: 2%;
  }
}

.logoFooter {
  padding-left: 10%;
  padding-top: 4%;
  width: 140px;
}
