.HeaderMenu {
  .TopHeaderMenu {
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .logo {
    width: 40%;
  }
  .fa-arrow-left {
    margin-left: 15px;
    margin-right: 80px;
  }
  .MenuImg {
    background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }
}
.menu1 {
  &:hover {
    transition-delay: 1s;
    opacity: 1;
  }
}
