@mixin menu {
  margin: 4%;
  padding: 10px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);
  &:hover .description {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 180px;
  }
  &:hover .check {
    transform: translateX(0%);
  }
  &:hover .fa-check-circle {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }

  .fa-check-circle {
    transition: all 0.5s ease;
  }
  p {
    display: inline-block;
    margin-bottom: 0%;
    font-size: 15px;
  }
  h3 {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 17px;
  }
}
.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.price {
  margin-left: 20px;
  overflow: hidden;
  font-weight: bold;
}
@mixin btn {
  text-decoration: none;
  color: white;
  border-radius: 40px;
  background: rgb(255, 121, 218);
  background: linear-gradient(
    156deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  &:hover {
    background: rgb(255, 121, 218);
    background: linear-gradient(
      156deg,
      rgba(255, 121, 218, 0.7) 0%,
      rgba(147, 86, 220, 0.7) 100%
    );
  }
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

@mixin heartIndex {
  display: flex;

  .emptyHeartI {
    transform: scale(1.3);
    position: relative;
    bottom: 8px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  .fullHeartI {
    transform: scale(1.3);
    opacity: (0);
    position: relative;
    bottom: 8px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    &:hover {
      opacity: 1.2;
      background: rgb(255, 121, 218);
      background: linear-gradient(
        156deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(147, 86, 220, 1) 100%
      );
    }
  }
}
